@media screen and (max-width:88.1rem) {
    html {
        font-size: 37.5%;
    }
}

@media screen and (max-width:66.6rem) {
    .testimonial-section .span_1_of_3 {
        width: 26.26%;
    }
}

@media screen and (max-width:66.6rem) {
    .footer-col3 {
        line-height: 2rem;
    }
}

@media screen and (max-width:36rem) {
    html {
        font-size: 19.5%
    }
}

@media screen and (max-width:36rem) {
    .content {
        height: 50rem;
        padding-left: 33rem;
    }
}

@media screen and (max-width:36rem) {
    .banner-section {
        height: 60.8rem;
    }
}

@media screen and (max-width:36rem) {
    .facts-row .span_1_of_4 {
        width: 25%
    }
}

@media screen and (max-width:36rem) {
    .testimonial-section .testi-box {
        width: 31rem
    }
}

@media screen and (max-width: 36rem) {
    .testimonial-section .span_1_of_3 {
        width: 32.26%;
    }
}

@media screen and (max-width: 36rem) {
    .footer-top {
        height: 90rem;
    }
}